@charset UTF-8;

#page-wrap {margin: 30px 0 0 30px;}
.emailAccept {float: left;height: 34px;line-height: 34px;}
.yourEmail {font-size: 0;}
.yourEmail-cont {font-size: 16px;}
#putEmail {width: 200px;height: 25px;}
.emailTips-list {float: left;}
.emailTips-list li {margin-bottom: 30px;}